/*******************mixins*******************/
/*******************основные стили*******************/
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
body {
  font-family: arial;
  font-size: 16px;
}
p {
  margin-bottom: 15px;
  text-align: left;
  line-height: 25px;
}
ul {
  margin-bottom: 15px;
  text-align: left;
  line-height: 25px;
  list-style: none;
}
/*******************основные блоки*******************/
.dt_wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px 4px #d1d1d1;
  min-width: 1240px;
  padding: 30px 0;
}
.dt_container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.dt_container:after {
  content: "";
  display: block;
  clear: both;
}
.dt_container_item {
  display: inline-block;
  width: 45%;
  text-align: center;
  padding: 1%;
  line-height: 25px;
  vertical-align: top;
}
.dt_container_columns2 .dt_container_item {
  width: 45%;
  margin: 0 1% 20px;
  padding: 10px 0;
}
.dt_container_columns3 .dt_container_item {
  width: 30%;
  margin: 0 5px 20px;
  padding: 10px 0;
}
.dt_container_columns4 .dt_container_item {
  width: 22%;
  margin: 0 1% 20px;
  padding: 10px 0;
}
.dt_content {
  padding: 50px 20px;
}
.dt_main {
  float: left;
  width: 75%;
}
.dt_info_box {
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
}
.dt_info_box:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.sidebar {
  float: right;
  margin-left: 5%;
  width: 20%;
}
.sidebar_layout {
  position: fixed;
  z-index: 2;
  padding: 25px;
  box-shadow: 1px 1px 3px #eee;
  width: 200px;
  border: 1px solid #eee;
}
.dt_box {
  margin-bottom: 30px;
}
.dt_title_middle {
  text-align: left;
  font-size: 22px;
  margin: 30px 0;
}
.dt_title_small {
  text-align: left;
  font-size: 18px;
  margin: 20px 0;
}
.dt_link {
  color: #000;
}
.dt_link:hover {
  text-decoration: none;
}
.menu {
  line-height: 25px;
}
.menu_link {
  display: block;
}
.dt_button {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #fad027;
  -webkit-transition: background 0.7s ease-in 0s;
  transition: background 0.7s ease-in 0s;
  padding: 8px 16px;
  cursor: pointer;
}
.dt_button:hover {
  color: #fff;
  background: #e6bf23;
}
.dt_button:active {
  top: 1px;
  box-shadow: 1px 3px 4px #b99815 inset;
}
/*****************************header****************/
.dt_logo {
  text-align: center;
  font-size: 24px;
}
.dt_label_logo {
  color: #36bae2;
}
/*******************table*******************/
table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}
tr {
  -webkit-transition: background-color 0.2s ease-in 0s;
  transition: background-color 0.2s ease-in 0s;
  color: #000000;
}
tr:hover {
  background-color: rgba(221, 221, 221, 0.25);
}
th {
  border-bottom: 1px solid #36bae2;
  color: #000;
}
td,
th {
  padding: 15px 5px;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
}
th {
  border-bottom: 1px solid #36bae2;
  color: #000;
}
/*******************code theme*******************/
code {
  border: 1px solid #eaeaea;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}
pre,
code {
  font-family: Consolas, Liberation Mono, Courier, monospace;
  color: #333;
  background: #f8f8f8;
  border-radius: 3px;
}
pre {
  border: 1px solid #ccc;
  word-wrap: break-word;
  line-height: 19px;
  text-align: left;
  margin: 20px 0;
  padding: 6px 10px;
}
pre code {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}
pre,
pre code {
  font-size: 13px;
}
pre .comment {
  color: #999988;
}
pre .support {
  color: #0086b3;
}
pre .tag,
pre .tag-name {
  color: #000080;
}
pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
  font-weight: 700;
}
pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace {
  color: #333333;
}
pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
  font-weight: 400;
  color: #009999;
}
pre .entity.class {
  color: #445588;
}
pre .entity.id,
pre .entity.function {
  color: #990000;
}
pre .attribute,
pre .variable {
  color: #008080;
}
pre .string,
pre .support.value {
  font-weight: 400;
  color: #dd1144;
}
pre .regexp {
  color: #009926;
}
/*******************footer*******************/
.dt_footer {
  text-align: center;
}
